.middle-section{
  display: flex;
  justify-content: center;
  flex-direction: column;
  row-gap: 2px;
  width: 650px;

  position: absolute;
  left: 365px;
}

.feed-header{
  height: 40px;
  border-radius: 5px;
  padding: 8px 12px;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 2px;
  box-shadow: 0 0px 10px rgba(153, 153, 153, 0.23);
}

.tweet-post{
  display: flex;
  justify-content: space-between;
  column-gap: 12px;
  height: 120px;
  padding: 8px 12px;
  border-radius: 4px;
  box-shadow: 0 0px 10px rgba(153, 153, 153, 0.373);
}

.user-profile-picture img{
  height: 40px;
  width: 40px;
  object-fit: cover;
}

.tweet-post-content{
  flex: 2;
}

.post-content-input{
  border: none;
  font-size: 18px;
  padding: 8px 6px;
}

.post-content-input:focus{
  outline: none;
}

.post-button{
  background-color: rgb(43, 156, 248);
  color: white;
  border: none;
  border-radius: 40px;
  font-size: 16px;
  font-weight: 600;
  padding: 8px 14px;
  margin-top: 70px;
}