.left-sidebar{
  display: flex;
  justify-content: center;
  flex-direction: column;

  position: fixed;
  left: 10px;
  bottom: 0;
  top: 0;

  width: 350px;
  row-gap: 25px;
  padding: 40px 20px 0px 50px;
  background-color: rgba(219, 219, 219, 0.354);
}

.twitter-logo{
  width: 50px;
  margin-bottom: 20px;
  cursor: pointer;
}

.menu-logos{
  display: flex;
  align-items: center;
  justify-content: start;
  margin-left: 10px;
  column-gap: 30px;
  height: 40px;
  cursor: pointer;
}

.menu-logos:hover{
  background-color: rgba(182, 182, 182, 0.386);
  border-radius: 10px;
  color: rgb(43, 156, 248);
}

.logo-icons{
  width: 30px;
  height: 20px;
}

.logo-name{
  font-size: 18px;
  font-weight: 600;
}

.twitter-button{
  background-color: rgb(43, 156, 248);
  color: white;
  border: none;
  border-radius: 40px;
  width: 100%;
  height: 50px;
  font-size: 16px;
  font-weight: 700;
  margin-top: 20px;
  cursor: pointer;
}

.twitter-button:hover{
  background-color: rgba(23, 140, 236, 0.722);
}